#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

table caption {
  float: left;
  font-size: 120%;
}

tbody td {
  background-color: #444;
  width: 24%;
  position: relative;
  border: 1px solid #111;

  text-align: center;

  overflow: hidden;
}

tbody tr {
  line-height: 0%;
}

tbody td:after{
  content:'';
  display:inline-block;
  margin-top: 100%;
  vertical-align: middle;
}